# Miscellaneous
notes.txt
misc
.env*

# Apply to both
*/**/.env.*
*/**/node_modules
*/**/dist
*/**/synapses-test.2025-09-30.private-key.pem
nginx/dist

# Backend
backend/src/database
backend/.env
backend/src/public/uploads/*
backend/scratch.ts
backend/database/generated/prisma
backend/api/github.http
backend/dist-html

# Frontend
frontend/src/scratch
frontend/dist
frontend/dist-ssr