# FOR PRODUCTION

services:
    backend_service:
      build: 
          context: .
          args:
            # FRONTEND STUFF
            VITE_SERVER_URL: ${VITE_SERVER_URL}
            VITE_API_URL: ${VITE_API_URL}
            VITE_SOCKET_URL: ${VITE_SOCKET_URL}
            VITE_KEYCLOAK_URL: ${VITE_KEYCLOAK_URL}
            VITE_KEYCLOAK_REALM: ${VITE_KEYCLOAK_REALM}
            VITE_KEYCLOAK_CLIENT_ID: ${VITE_KEYCLOAK_CLIENT_ID}

            # Backend for seeding
            DATABASE_URL: ${DATABASE_URL}     
            SERVER_URL: ${SERVER_URL}            
      container_name: synapse_backend
      restart: unless-stopped  
      env_file: 
        - .env

      # HOST - CONTAINER
      ports:
          - '8080:8080'
