# FOR PRODUCTION

services:
    backend_service:
      build: 
          context: .
          args:
            # Backend for seeding
            DATABASE_URL: ${DATABASE_URL}     
            SERVER_URL: ${SERVER_URL}            
      container_name: synapse_backend
      restart: unless-stopped  
      env_file: 
        - .env

      # HOST - CONTAINER
      ports:
          - '8080:8080'
