# FOR PRODUCTION

services:
    backend_service:
      build: .
      container_name: synapse_backend
      restart: unless-stopped  
      env_file: 
        - .env.production

      # HOST - CONTAINER
      ports:
          - '8080:8080'
