# FOR PRODUCTION

services:
    backend_service:
      build: 
          context: .
          args:
            # Backend for seeding
            NODE_ENV: ${NODE_ENV}
            DATABASE_URL: ${DATABASE_URL}         
      container_name: synapse_backend
      restart: unless-stopped  
      env_file: 
        - .env

      # HOST - CONTAINER
      ports:
          - '8080:8080'
