services:

    postgres_service:
        image: postgres:15
        container_name: synapse_postgres_db

        # Database credentials
        environment:
            POSTGRES_USER: myuser
            POSTGRES_PASSWORD: mypassword
            POSTGRES_DB: synapse_db

        # Bind the LOCAL 4001 to the 5432 port of the container.
        # Access 5432 container port via LOCAL 4001
        ports:
            - '4001:5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - synapse_network

    nginx_service:
      image: devaku/synapse-nginx:latest
      container_name: synapse_nginx
      restart: unless-stopped
      ports:
        - '80:80'
        - '443:443'

    backend_service:
      image: devaku/synapse-backend:latest
      container_name: synapse_backend
      restart: unless-stopped
      env_file: 
        - ./backend.env

      # HOST - CONTAINER
      ports:
          - '8080:8080'
      networks:
          - synapse_network
      depends_on: 
          - postgres_service
      command: /bin/sh -c "npm run build-dist && npm run dist"
          

    frontend_service:
      image: devaku/synapse-frontend:latest
      container_name: synapse_frontend
      restart: unless-stopped
      env_file: 
        - ./frontend.env

      # HOST - CONTAINER
      ports:
          - '3000:3000'
      networks:
          - synapse_network

    keycloak_service:
        container_name: synapse_keycloak
        image: quay.io/keycloak/keycloak:26.2.5
        ports:
            - '4000:8080'
        environment:
            KC_BOOTSTRAP_ADMIN_USERNAME: admin
            KC_BOOTSTRAP_ADMIN_PASSWORD: admin

        # Reference the SERVICE
        networks:
            - synapse_network

        command: start-dev

volumes:
    postgres_data:

networks:
    synapse_network:
