@import 'tailwindcss';

@theme {
	--color-ttg-green: #7bb863;
	--color-ttg-purple: #737acb;
	--color-ttg-dark-blue: #153243;
	--color-ttg-brown: #333333;
	--colorttg-white: #ffffff;
}

/* Animations */

.slide-in {
	transition: right 0.5s;
}

.dim-background {
	transition: background-color 0.5s;
}

.fade {
	transition: opacity 0.5s;
}
