@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *):not(.exclude-dark, .exclude-dark *));

@theme {
	--color-ttg-green: #7bb863;
	--color-ttg-purple: #737acb;
	--color-ttg-dark-blue: #153243;
	--color-ttg-brown: #333333;
	--color-ttg-white: #ffffff;
	--color-ttg-black: #000000;
}

.exclude-dark {
	--color-ttg-green: #7bb863;
	--color-ttg-purple: #737acb;
	--color-ttg-dark-blue: #153243;
	--color-ttg-brown: #333333;
	--color-ttg-white: #ffffff;
	--color-ttg-black: #000000;
}

.dark {
	--color-ttg-green: #1e2b18;
	--color-ttg-purple: #3f436e;
	--color-ttg-dark-blue: #434343;
	--color-ttg-brown: #d0d0d0;
	--color-ttg-white: #222222;
	--color-ttg-black: #ffffff;
}

/* Animations */

.slide-in {
	transition: right 0.5s;
}

.dim-background {
	transition: background-color 0.5s;
}

.fade {
	transition: opacity 0.5s;
}

.shake {
	animation: tilt-shaking 0.2s;
	animation-iteration-count: infinite;
}

@keyframes tilt-shaking {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(0eg);
	}
	75% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* Commit for testing pull request issue */